/* Div de gauche More in spaces & Cosmos */
.more_space{
	float: left;
    width: 600px;
    border-top: 1px solid grey;
    margin: 5px;
    margin-left: 60px;
}

.a_space_left{
	font-size: 16px;
	float:left;
	font-weight:bold;
}

.a_space_right{
	font-size: 10px;
	float:right;
}

.more_space a{
	color:black;
}


#conteneur
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 600px;
}

.element{
	width: 180px;
	text-align: center;
}

.element img{
	width: 180px;
	height:auto;
}

/* Div de droite Trending */

.trending{
	float:right;
	border-top: 1px solid grey;
    margin: 5px;
    color:black;
    margin-right: 60px;
}

.a_trending_center{
	font-size: 16px;
	font-weight:bold;
	color:black;
	text-decoration: none;
}

.trending img{
	width: 40px;
	height:40px;
	margin-left: 5px;
}

.colonne2 {
	word-wrap:break-word; 
	width: 400px;
}

.list-trend{
	border-bottom: 1px solid #f3f3f3;
	margin: 20px;
	padding: 20px;
}

.a_trend_left{
	font-size: 10px;
}

tr {
	height: 50px;
}